<h2>Template Based Form</h2>

{{registrationModel | json}}
<hr>
Touched: {{shift_morning.touched}} {{shift_evening.touched}} <br>
Valid: {{shift_morning.valid}} {{shift_evening.valid}} <br>
{{shift_morning.errors | json}} <br>
{{shift_evening.errors | json }}
<hr>
<div class="container">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                <input #name="ngModel" name="name" required type="text" [class.is-invalid]="name.touched && name.invalid"
                 class="form-control" placeholder="Full name" [(ngModel)]="registrationModel.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input #email="ngModel" name="email" required type="email" class="form-control" [class.is-invalid]="email.touched && email.invalid"
                placeholder="Email address" [(ngModel)]="registrationModel.email">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input #phone="ngModel" name="phone" required type="tel" [class.is-invalid]="phone.touched && phone.invalid"
                class="form-control" placeholder="Phone Number" [(ngModel)]="registrationModel.phone">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Full Address</label>
            <div class="col-sm-10">
                <input #address_street="ngModel" [class.is-invalid]="address_street.touched && address_street.invalid" required name="address_street" type="text" class="form-control" placeholder="Street" [(ngModel)]="registrationModel.address.street"> <br/>
                <input #address_city="ngModel" [class.is-invalid]="address_city.touched && address_city.invalid" required name="address_city" type="text" class="form-control" placeholder="City" [(ngModel)]="registrationModel.address.city"> <br>
                <input #address_state="ngModel" [class.is-invalid]="address_state.touched && address_state.invalid" name="address_state" type="text" class="form-control" placeholder="State" [(ngModel)]="registrationModel.address.state"> <br>
                <input #address_country="ngModel" [class.is-invalid]="address_country.touched && address_country.invalid" name="address_country" type="text" class="form-control" placeholder="Country" [(ngModel)]="registrationModel.address.country">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Interest</label>
            <div class="col-sm-10">
                <select #interest="ngModel" [class.is-invalid]="interest.touched && interest.invalid" required name="interest" class="form-control" [(ngModel)]="registrationModel.interest">
                    <option value="" disabled selected hidden>Interest</option>
                    <option *ngFor="let interest of interests" [value]="interest">
                        {{interest}}
                    </option>
                </select>
            </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Shift</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input #shift_morning="ngModel" [class.is-invalid]="shift_morning.touched && shift_morning.invalid" id="shift_morning" required name="shift" class="form-check-input" type="radio" [(ngModel)]="registrationModel.shift" value="MORNING">
                <label for="shift_morning" class="form-check-label">
                  Morning (9AM - 12PM)
                </label>
              </div>
              <div class="form-check">
                <input #shift_evening="ngModel" [class.is-invalid]="shift_evening.touched && shift_evening.invalid" id="shift_evening" required name="shift" class="form-check-input" type="radio" [(ngModel)]="registrationModel.shift" value="EVENING">
                <label for="shift_evening" class="form-check-label">
                  Evening (3PM - 6PM)
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="form-check">
              <input id="subscribe" name="subscribe" class="form-check-input" type="checkbox" [(ngModel)]="registrationModel.subscribeForNews">
              <label for="subscribe" class="form-check-label">
                Subscribe to news about future events.
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
</div>
