<h2>Custom Directive Pipes</h2>

<h3>Structural Directive Example</h3>
<div style="border: 1px solid green">
    <p *appShowTwice="5;repeat:true">
        Repeating many times
    </p>
</div>

<hr>
<h3>Attribute directive example</h3>
<p appTextHighlighter>Highlighted Text</p>
<p appTextHighlighter backgroundColor="red">Highlighted Text</p>
<p appTextHighlighter textColor="red">Highlighted Text</p>
<p appTextHighlighter textColor="green" backgroundColor="yellow">Highlighted Text</p>

<hr>
<h3>
    Pipes example
</h3>
<p>{{'Transformer 1' | textTransformer}}</p>
<p>{{'Transformer 2' | textTransformer:'uppercase'}}</p>
<p>{{'Transformer 3' | textTransformer:'uppercase':3}}</p>
<p>{{'Transformer 3' | textTransformer: 'uppercase': 3: true}}</p>