<ul>
    <li>
        <a routerLink="/home" routerLinkActive="route-active">Home</a>
    </li>
    <li>
        <a routerLink="/customdirectives" routerLinkActive="route-active">Custom Directives and Pipes</a>
    </li>
    <ng-template [ngIf]="isLoggedIn">
        <li>
            <a routerLink="/logout" routerLinkActive="router-active">Logout</a>
        </li>
        <li>
            <a routerLink="/sampledata" routerLinkActive="router-active">Sample Data</a>
        </li>
    </ng-template>
    <li *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="router-active">Login</a>
    </li>
</ul>